*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --neon:rgb(62, 174, 173);
}

html{
    
}

section{
    height: 100vh;
    background-color: var(--neon);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 130px;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 60px;
}

nav ul li a:hover{
    background: var(--neon);
    color: white;
}



.home{
    height: 100vh;
    background: url(back.png), radial-gradient(rgb(17, 14, 104),black);
    color: white;
    background-repeat: no-repeat; 
    background-position: top;
    opacity: 100%;
}

.home-text{
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-text h1{
    display: block;
    font-size: 5rem;
    font-weight: 900;
    color: white;
    text-transform: capitalize;
    color: white;
    padding: 10px;
}

.home-text h1:hover{
    color: #49cadf;
    transform:scaleY(1.2);
    transition: all 1000ms ease-in-out; 
}


.about{
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 14, 104);
    color: white;
    padding: 80px;
}

h2{
    font-size: 50px;
}

.headshot{
    width: 300px;
    border: 3px dashed;
    box-shadow:25px 25px 30px lightseagreen;
}

.about .information{
    width: 50%;
}

.about p{
    margin-top: 30px;
}
.about .skills{
    width: 50%;
}



.projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: rgb(17, 14, 104);
    color: white;
}

.project-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.project-card{
    width: 200px;
    height: 300px;
    box-shadow: 5px  5px 20px black;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.project-image{
    margin-top: 25px;
    border-radius: 125px;
}
.project-link{
    text-decoration: none;
    color: white;
}

.qualifications{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #01020d;
    color: white;
}

.college{
    margin: 20px;
    padding: 10px;
    
}
.college-1{
    margin: 30px;
    border: 2px solid whitesmoke;
}

.college-1:hover{
    
    transition: 1sec;
}
.contact{
    height: 85vh;
    background-color:#01020d;
}

.contact form{
    padding: 5%;
}
.contact button{
    cursor: pointer;
    display: inline-block;
    width: 20%;
    background: rgba(255,255,255,0.3);
    padding: 15px;
    font-size: 16px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin-top: 15px;
    color: white;

}

.contact button:hover{
    background: black;
}

.form-control{
    display: grid;
    background: rgba(0,254,255,0.2);
    height: 60%;
    width: 60%;
    margin: auto;
    padding: 30px 20px;
    color: white;
    justify-content: center;
}

.form-control input,textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: #fff;
}

.form-control h1{
    margin: 10px;
}

.form-control .cnt_p1{
    margin: 10px;
}

.form-control .cnt_p2{
    margin: 10px;
}

footer{
    position: relative;
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

footer ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 60px;
}